.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid hsl(from CanvasText h s l / 0.1);
    font-size: 0.875rem;
}

.info {
    color: hsl(from CanvasText h s l / 0.6);

}

@media screen and (max-width: 768px) {
    .info {
        display: none;
    }

    .pagination {
        margin: 0 auto;
    }
}

.pagination {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    width: max-content;
}

.pageLink,
.ellipsis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0.375rem;
    text-decoration: none;
    color: CanvasText;
    transition: all 0.2s;
}

.pageLink:hover {
    background-color: hsl(from CanvasText h s l / 0.1);
}

.active {
    background-color: rgb(139, 82, 199);
    color: white;
    font-weight: 600;
}

.active:hover {
    background-color: rgb(139, 82, 199);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.navButton {
    padding: 0 0.75rem;
    border: 1px solid hsl(from CanvasText h s l / 0.2);
}

.navButton:hover:not(.disabled) {
    border-color: hsl(from CanvasText h s l / 0.5);
    background-color: hsl(from CanvasText h s l / 0.05);
}